<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>
        {% block title %}Default title{% endblock %}
    </title>
    <link rel='stylesheet' href='{% static "bootstrap/css/bootstrap.css" %}' />
    <link rel='stylesheet' href='{% static "bootstrap/css/bootstrap-responsive.css" %}' />
    <link rel='stylesheet' href='{% static "css/style.css" %}' />
    <script src='{%  static "bootstrap/js/boorstrap.js" %}'>
    </script>
</head>

<body>
    {% block content %}{% endblock %}
</body>
</html>