<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>News</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/news.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/bootstrap-responsive.css" %}" rel="stylesheet">
</head>
<body>
    <div id="wrap">
        <!-- Begin page content -->
        <div class="container">
            <div class="page-header">
                <h1>News</h1>
            </div>
            <p class="lead">Nothing happens.</p>
        </div>

        <div id="push"></div>
    </div>

    <div id="footer">
        <div class="container">
            <p class="muted credit">.</p>
        </div>
    </div>
</body>
</html>
